/* variables */
:root {
    --text-color: #ffffff;
    --wrapper-width: 100%;
    --title-font-sz: 3.6rem;
    --title-font-sz-mobile: 2.4rem;
    --subheading-font-sz: 2.187rem;
    --subheading-font-sz: 1.9rem;
    --text-font-sz: 1.43rem;
    --spacing-sm: 1.2rem;
    --spacing-md: 2.1rem;
    --spacing-lg: 5rem;
}

/* global styles */

html {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--text-color);
    background-color: #000;
    font-weight: 200;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

img,
svg {
    display: block;
    width: 100%;
}

/* typographic styles */
h2 {
    font-size: var(--title-font-sz-mobile);
		line-height: 3rem;
    text-transform: uppercase;
    margin: var(--spacing-md) 0;
		text-align: center;
}

@media screen and (min-width: 1400px) {
    h2 {
			font-size: var(--title-font-sz);
			line-height: 3.8rem;
    }
}

p {
    font-size: var(--text-font-sz);
    line-height: 1.3em;
		margin-top: 0;
}

/* body section  */

body {
    position: relative;
}

/* layout */
.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header section */
header {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: var(--spacing-lg) 0 var(--spacing-lg);
}

.logo {
    max-width: 220px;
}

/* main section */
main .wrapper {
    width: var(--wrapper-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-md);
    box-sizing: border-box;
}

.image-section {
    height: 200px;
}

.image-section img {
		object-fit: cover;
		height: 100%;
		width: 100%;
}

.callout {
    background-color: #6C4681;
    padding: var(--spacing-md) 0;
    width: 100%;
		text-align: center;
}

.callout h2 {
	margin: 0;
}

.callout p {
    font-weight: 600;
		margin: var(--spacing-sm) auto 0;
    max-width: 800px;
}

/* socials list section */
.socials-list {
	display: flex;
	gap: 40px;
	justify-content: center;
	margin: var(--spacing-md) 0 var(--spacing-sm);
}

.socials-list li {
    width: 50px;
}

.socials-list svg {
    fill: #fff;
		box-sizing: border-box;
}

.socials-list svg:hover,
.socials-list svg:focus,
.socials-list svg:active {
		outline: 3px solid #fff;
		border-radius: 5px;
		outline-offset: 5px;
}

/* footer styles */
footer {
	background-color: #424241;
	text-align: center;
	padding-top: var(--spacing-sm);
}

footer .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.3rem var(--spacing-sm) 0;
}

footer p {
	font-size: 1rem;
	letter-spacing: 0.053rem;
	margin: 0;
}

footer p:last-of-type {
	margin-bottom: var(--spacing-sm);
}

@media screen and (min-width: 768px) {
		.image-section {
			height: 300px;
		}
}

@media screen and (min-width: 1400px) {
    h2 {
        text-align: left;
    }

    main .wrapper {
			max-width: 1400px;
			padding: var(--spacing-sm) var(--spacing-md);
    }

    main .content-wrapper {
			background-color: #000;
			display: flex;
			flex-flow: row;
			justify-content: space-around;
    }

    main .content-wrapper > div {
			flex: 1 0 50%;
			padding: var(--spacing-md);
			padding-bottom: var(--spacing-sm);
    }

		.image-section {
			height: 450px;
		}

		.callout h2 {
			margin: var(--spacing-sm) 0;
		}

		.callout p {
			font-size: var(--subheading-font-sz);
			margin: 0 var(--spacing-md) var(--spacing-sm);
		}
}