/* variables */
:root {
    --text-color: #ffffff;
    --wrapper-width: 100%;
    --title-font-sz: 3.6rem;
    --title-font-sz-mobile: 2.4rem;
    --subheading-font-sz: 2.187rem;
    --subheading-font-sz: 1.9rem;
    --text-font-sz: 1.43rem;
    --spacing-sm: 1.2rem;
    --spacing-md: 3rem;
    --spacing-lg: 5rem;
}

/* global styles */

html {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--text-color);
    background-color: #184F85;
    font-weight: 200;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
}

img,
svg {
    display: block;
    width: 100%;
}


/* typographic styles */
h2 {
    font-size: var(--title-font-sz-mobile);
    text-align: center;
    text-transform: uppercase;
    margin: var(--spacing-sm) auto;
}

@media screen and (min-width: 1400px) {
    h2 {
        font-size: var(--title-font-sz);
    }
}

p {
    font-size: var(--text-font-sz);
    line-height: 1.3em;
}



/* body section  */

body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px)brightness(35%);
    transform: scale(1.1);
    z-index: -1;
}

body {
    position: relative;
}

/* layout */
.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header section */
header {
    padding: var(--spacing-lg) 0 0;
}

.logo {
    max-width: 300px;
    margin-top: var(--spacing-sm);
}

/* main section */
main {
    text-align: center;
}

main .wrapper {
    width: var(--wrapper-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-sm);

}

@media screen and (min-width: 1400px) {
    main .wrapper {
        max-width: 1200px;
        padding: var(--spacing-sm) var(--spacing-md);
    }

    .callout {
        padding: var(--spacing-sm);
    }
}

.callout {
    background-color: #D94252;
    margin-top: var(--spacing-md);
    padding: var(--spacing-md) 0;
    width: 100%;
}

.callout p {
    font-weight: 600;
    font-size: var(--subheading-font-sz);
    margin: var(--spacing-sm) 0;
}

/* socials list section */
.socials-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: var(--spacing-md) 0 var(--spacing-sm);
}

.socials-list li {
    width: 50px;
}

.socials-list svg {
    /* transition: all 0.3s ease-in-out; */
    fill: #ffffff;
}

.socials-list svg:hover,
.socials-list svg:focus {
    scale: 1.13;
    fill: #424241;
}

/* footer styles */

footer {
    background-color: #424241;
}

footer .wrapper {
    padding: var(--spacing-sm) 0;
}

footer p {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
    margin: 0;
}